<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cy.asset.login.dao.LoginDao" >

    <resultMap id="BaseResultMap" type="com.cy.asset.login.bean.User">
        <id column="id_employee" property="id" jdbcType="VARCHAR"/>
        <result column="eName" property="eName" jdbcType="VARCHAR"/>
        <result column="empNo" property="empNo" jdbcType="VARCHAR"/>
        <result column="sex" property="sex" jdbcType="VARCHAR"/>
        <result column="phone_number" property="phoneNumber" jdbcType="VARCHAR"/>
        <result column="position_no" property="positionNo" jdbcType="VARCHAR"/>
        <result column="position_name" property="positionName" jdbcType="VARCHAR"/>
        <result column="dept_no" property="deptNo" jdbcType="VARCHAR"/>
        <result column="dept_name" property="deptName" jdbcType="VARCHAR"/>
        <result column="extension_number" property="extensionNumber" jdbcType="VARCHAR"/>
        <result column="small_phone_number" property="smallPhoneNumber" jdbcType="VARCHAR"/>
    </resultMap>

    <resultMap id="LoginUserMap" type="com.cy.asset.login.bean.Login">
        <result column="username" property="username" jdbcType="VARCHAR"/>
        <result column="password" property="password" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        id_employee, eName, empNo, sex, phone_number, position_no,
        position_name, dept_no, dept_name, extension_number, small_phone_number
    </sql>

    <select id="getLoginUser" resultMap="LoginUserMap" parameterType="java.lang.String">
        select username, password
            from cy_login_user
        where username = #{username,jdbcType=VARCHAR}
        and status = 1
    </select>

    <insert id="addLogin" parameterType="com.cy.asset.login.bean.Login">
        <selectKey keyColumn="id" keyProperty="id" resultType="string" order="BEFORE">
            select replace(uuid(), '-', '') as id from dual
        </selectKey>
        insert into cy_login_user(
            id_login_user, username, password,
            status, created_by, created_date,
            updated_by, updated_date
        ) values (
            #{id,jdbcType=VARCHAR},
            #{username,jdbcType=VARCHAR},
            #{password,jdbcType=VARCHAR},
            1,
            #{createdBy,jdbcType=VARCHAR},
            now(),
            #{createdBy,jdbcType=VARCHAR},
            now()
        )
    </insert>

    <update id="changePassword" parameterType="com.cy.asset.login.bean.Login">
        update cy_login_user
            set password = #{afterPassword,jdbcType=VARCHAR}
        where username = #{username,jdbcType=VARCHAR}
            and status = 1
    </update>

    <select id="getEmployeeInfo" resultMap="BaseResultMap" parameterType="java.lang.String">
        select
            <include refid="Base_Column_List"/>
        from cy_employee
            where empNo = #{empNo,jdbcType=VARCHAR}
        and position_status = 'onJob'
    </select>

</mapper>