<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cy.asset.task.dao.CaseManageDao" >

    <sql id="Base_Case_List">
        id_case, case_serial_number, batch_code, appoint_case_date, expect_back_case_date,
        party_no, overdue_days, appoint_case_amount, current_30_day, statement_date,
        collection_phase, current_handler, collect_status, case_status, case_source,
        created_by, created_date, updated_by, updated_date
    </sql>

    <select id="queryCase" parameterType="com.cy.asset.task.bean.CaseQueryBean" resultType="java.util.List">
        select
            b.batch_code, c.appoint_case_date, c.expect_back_case_date,
            c.case_serial_number, cus.party_no, b.client, b.product_name,
            cus.customer_name, cus.provinces, c.overdue_days, c.appoint_case_amount,
            c.after_update_amount, c.current_handler
        from cy_case c
        join cy_customer cus on c.party_no = cus.party_no
        join cy_case_batch b on c.batch_code = b.batch_code
        join cy_employee e on c.current_handler = e.empNo
        <where>
            <if test="positionNo != null and positionNo == 'seats'">
                and c.current_handler = #{um,jdbcType=VARCHAR}
            </if>
            <if test="positionNo != null and positionNo == 'director'">
                and c.case_source = #{deptNo,jdbcType=VARCHAR}
            </if>
            <if test="customerName != null and customerName.length()>0">
                and cus.customer_name like "%"#{customerName,jdbcType=VARCHAR}"%"
            </if>
            <if test="partyNo != null and partyNo.length()>0">
                and cus.party_no = #{partyNo,jdbcType=VARCHAR}
            </if>
            <if test="provinces != null and provinces.length()>0">
                and cus.provinces = #{provinces,jdbcType=VARCHAR}
            </if>
            <if test="phoneNo != null and phoneNo.length()>0">
                and cus.phone_no = #{phoneNo,jdbcType=VARCHAR}
            </if>
            <if test="cardId != null and cardId.length()>0">
                and cus.card_id = #{cardId,jdbcType=VARCHAR}
            </if>
            <if test="productName != null and productName.length()>0">
                and b.product_name = #{productName,jdbcType=VARCHAR}
            </if>
            <if test="collectionPhase != null and collectionPhase.length()>0">
                and c.collection_phase = #{collectionPhase,jdbcType=VARCHAR}
            </if>
            <if test="teamLeaderUm != null and teamLeaderUm.length()>0">
                and b.dept_director = #{teamLeaderUm,jdbcType=VARCHAR}
            </if>
            <if test="um != null and um.length()>0">
                and b.empno = #{um,jdbcType=VARCHAR}
            </if>
            <if test="statementDate != null and statementDate.length()>0">
                and c.statement_date = #{statementDate,jdbcType=VARCHAR}
            </if>
            <if test="collectStatus.length()>0 or collectStatus != null">
                and c.collect_status = #{collectStatus,jdbcType=VARCHAR}
            </if>
            <if test="colorStatus != null and colorStatus.length()>0">
                and c.color_status = #{colorStatus,jdbcType=VARCHAR}
            </if>
            <if test="caseStatus != null and caseStatus.length()>0">
                and c.case_status = #{collectStatus,jdbcType=VARCHAR}
            </if>
        </where>
        order by c.update_date desc
    </select>

    <select id="queryCaseDetailsByCaseId" parameterType="java.lang.String" resultType="com.cy.asset.task.bean.CaseBean">
        select
            <include refid="Base_Case_List"/>
        from cy_case
            where case_serial_number = #{caseSerialNumber,jdbcType=VARCHAR}
    </select>

    <select id="queryCaseManage" parameterType="com.cy.asset.task.bean.CaseManageQueryBean" resultType="com.cy.asset.task.bean.CaseManageResultBean">
        select  count(c.id_case) "load",
                count(cr.id_case_record) "followUp",
                e.dept_director "director",
                e.team_leader "teamLeader",
                e.area "area"
        from cy_case c
        join cy_employee e on c.current_handler = e.empno
        left join cy_case_record cr on cr.case_serial_number = c.case_serial_number
            where e.position_status = 'onJob'
            <if test="caseEndDate != null">
                and c.appoint_case_date <![CDATA[<=]]> #{caseEndDate,jdbcType=DATE}
            </if>
            <if test="caseStartDate != null">
                and c.expect_back_case_date <![CDATA[>=]]> #{caseStartDate,jdbcType=DATE}
            </if>
        group by e.team_leader
    </select>

</mapper>