<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cy.asset.task.dao.CaseDao" >

    <insert id="saveCustomer" parameterType="java.util.List">
        insert into cy_customer (
            id_customer, customer_name, party_no, customer_sex, card_id,
            phone_no, provinces, city, regional, email, date_birth,
            customer_age, residential_address, residential_tel,
            company_address, company_tel,
            created_by, created_date, updated_by, updated_date
        ) values
        <foreach collection="list" item="item" index="index" separator=",">
            (
                (select replace(uuid(), '-', '') as id),
                #{item.customerName,jdbcType=VARCHAR},#{item.partyNo,jdbcType=VARCHAR},
                #{item.customerSex,jdbcType=VARCHAR},#{item.cardId,jdbcType=VARCHAR},
                #{item.phoneNo,jdbcType=VARCHAR},#{item.provinces,jdbcType=VARCHAR},
                #{item.city,jdbcType=VARCHAR},#{item.regional,jdbcType=VARCHAR},
                #{item.email,jdbcType=VARCHAR},#{item.birthDate,jdbcType=DATE},
                #{item.customerAge,jdbcType=VARCHAR},#{item.residentialAddress,jdbcType=VARCHAR},
                #{item.residentialTel,jdbcType=VARCHAR},#{item.companyAddress,jdbcType=VARCHAR},
                #{item.companyTel,jdbcType=VARCHAR},
                'system',now(),'system',now()
            )
        </foreach>
    </insert>

    <insert id="saveCase" parameterType="java.util.List">
        insert into cy_case (
            id_case, case_serial_number, collection_status, fixed_quota,
            overdue_amount, overdue_days, late_stage, collection_phase,
            remaining_principal, overdue_interest, late_charge, cancel_date,
            statement_date, due_date, latest_payment_date, latest_payment_amount,
            card_start_date, card_stop_date, collection_date, concordance_x_day,
            concordance_30_day, concordance_60_day, case_identify_1,
            case_identify_2,case_identify_3,remark, emp_no,
            party_no, batch_code, product_name, total_owed,
            overdue_record, whether_installment, penal_sum, funding_party,
            regulation_code, minimum_payment, appoint_case_amount,
            created_by, created_date, updated_by, updated_date
        ) values
        <foreach collection="list" item="item" index="index" separator=",">
            (
                (select replace(uuid(), '-', '') as id),
                #{item.caseSerialNumber,jdbcType=VARCHAR},#{item.collectionStatus,jdbcType=VARCHAR},
                #{item.fixedQuota,jdbcType=DECIMAL},#{item.overdueAmount,jdbcType=DECIMAL},
                #{item.overdueDays,jdbcType=VARCHAR},#{item.lateStage,jdbcType=VARCHAR},
                #{item.collectionPhase,jdbcType=VARCHAR},#{item.remainingPrincipal,jdbcType=DECIMAL},
                #{item.overdueInterest,jdbcType=DECIMAL},#{item.lateCharge,jdbcType=DECIMAL},
                #{item.cancelDate,jdbcType=DATE},#{item.statementDate,jdbcType=DATE},
                #{item.statementDate,jdbcType=VARCHAR},#{item.latestPaymentDate,jdbcType=DATE},
                #{item.latestPaymentAmount,jdbcType=DECIMAL},#{item.cardStartDate,jdbcType=DATE},
                #{item.cardStopDate,jdbcType=DATE},#{item.collectionDate,jdbcType=DATE},
                #{item.concordanceXDay,jdbcType=VARCHAR},#{item.concordance30Day,jdbcType=VARCHAR},
                #{item.concordance60Day,jdbcType=VARCHAR},#{item.caseIdentify1,jdbcType=VARCHAR},
                #{item.caseIdentify2,jdbcType=VARCHAR},#{item.caseIdentify3,jdbcType=VARCHAR},
                #{item.remark,jdbcType=VARCHAR},#{item.empNo,jdbcType=VARCHAR},
                #{item.partyNo,jdbcType=VARCHAR},#{item.batchCode,jdbcType=VARCHAR},
                #{item.productName,jdbcType=VARCHAR},#{item.totalOwed,jdbcType=DECIMAL},
                #{item.overdueRecord,jdbcType=VARCHAR},#{item.whetherInstallment,jdbcType=VARCHAR},
                #{item.penalSum,jdbcType=DECIMAL},#{item.fundingParty,jdbcType=VARCHAR},#{item.regulationCode,jdbcType=VARCHAR},
                #{item.minimumPayment,jdbcType=DECIMAL},#{item.appointCaseAmount,jdbcType=DECIMAL},
                'system',now(),'system',now()
            )
        </foreach>
    </insert>

    <insert id="saveMeiTuanCase" parameterType="java.util.List">
        insert into cy_meituan_case (
            id_meituan_case, collection_of, follow_up_people, follow_up_people_code,
            divisional_date, cancel_date, caseIdentify_1, product, case_serial_number,
            customer_name, card_id, phone_no, contact_name, contact_phone_no,
            due_date, the_amount_overdue_IOU, number_overdue_IOU,
            time_past_due_on_IOU, late_stage, overdue_days, overdue_amount,
            within_time_limit_principal, overdue_interest, late_charge, late_dee,
            settlement_advance, remaining_principal, in_the_rush_amount,
            low_telephone_unverified, medium_telephone_unverified,
            high1_telephone_unverified, low_address_unverified, medium_address_unverified,
            high1_address_unverified, poi_stores_list, high2_telephone_unverified,
            high2_address_unverified, urged_authorization, resident_provinces,
            InterestFree_amount, caseIdentify_2, caseIdentify_3,
            created_by,created_date, updated_by, updated_date
        ) values
        <foreach collection="list" item="item" index="index" separator=",">
            (
                (select replace(uuid(), '-', '') as id),
                #{item.collectionOf,jdbcType=VARCHAR},#{item.followUpPeople,jdbcType=VARCHAR},
                #{item.followUpPeopleCode,jdbcType=VARCHAR},#{item.appointCaseDate,jdbcType=DATE},
                #{item.expectBackCaseDate,jdbcType=DATE},#{item.caseIdentify1,jdbcType=VARCHAR},
                #{item.product,jdbcType=VARCHAR},#{item.caseSerialNumber,jdbcType=VARCHAR},
                #{item.customerName,jdbcType=VARCHAR},#{item.cardId,jdbcType=VARCHAR},
                #{item.phoneNo,jdbcType=VARCHAR},#{item.contactName,jdbcType=VARCHAR},
                #{item.contactPhoneNo,jdbcType=VARCHAR},#{item.dueDate,jdbcType=VARCHAR},
                #{item.theAmountOverdueIOU,jdbcType=DECIMAL},#{item.numberOverdueIOU,jdbcType=VARCHAR},
                #{item.timePastDueOnIOU,jdbcType=DATE},#{item.lateStage,jdbcType=VARCHAR},
                #{item.overdueDays,jdbcType=VARCHAR},#{item.overdueAmount,jdbcType=DECIMAL},
                #{item.withinTimeLimitPrincipal,jdbcType=DECIMAL},#{item.overdueInterest,jdbcType=DECIMAL},
                #{item.lateCharge,jdbcType=DECIMAL},#{item.lateDee,jdbcType=DECIMAL},#{item.settlementAdvance,jdbcType=DECIMAL},
                #{item.appointCaseAmount,jdbcType=DECIMAL},#{item.inTheRushAmount,jdbcType=DECIMAL},
                #{item.lowTelephoneUnverified,jdbcType=VARCHAR},#{item.mediumTelephoneUnverified,jdbcType=VARCHAR},
                #{item.high1TelephoneUnverified,jdbcType=VARCHAR},#{item.lowAddressUnverified,jdbcType=VARCHAR},
                #{item.mediumAddressUnverified,jdbcType=VARCHAR},#{item.high1AddressUnverified,jdbcType=VARCHAR},
                #{item.poiStoresList,jdbcType=VARCHAR},#{item.high2TelephoneUnverified,jdbcType=VARCHAR},
                #{item.high2AddressUnverified,jdbcType=VARCHAR},#{item.urgedAuthorization,jdbcType=VARCHAR},
                #{item.residentProvinces,jdbcType=VARCHAR},#{item.interestFreeAmount,jdbcType=DECIMAL},
                #{item.caseIdentify2,jdbcType=VARCHAR},#{item.caseIdentify3,jdbcType=VARCHAR},
                'system',now(),'system',now()
            )
        </foreach>
    </insert>

    <insert id="saveHangXiaoCase">
        insert into cy_hangxiao_case (
            id_hangxiao_case, channel_type, product_name_as, assigned,
            late_stage, committee_case_date, cancel_date, case_serial_number,
            customer_name, user_no, card_id, loan_balance, phone_no,
            appoint_case_amount, product_name, reimbursement_bank,
            fixed_quota, loan_time_limit, loan_time, overdue_days,
            company_name, company_tel, company_address, residential_address,
            relatives, relatives_tel, overdue_amount, currently_owed_amount,
            currently_deduct_principal, contract_no, addressId_card, due_date,
            overdue_interest, payable_serviceFee, late_charge, monthly_payments,
            maximum_overdue_days, latest_payment_date, contact_person1_name,
            contact_phone1, contact_person2_name, contact_phone2,
            contact_person3_name, contact_phone3, contact_person4_name,
            contact_phone4, contact_person5_name, contact_phone5,
            contact_person6_name, contact_phone6, contact_person7_name,
            contact_phone7, contact_person8_name, contact_phone8,
            contact_person9_name, contact_phone9, created_by,
            created_date, updated_by, updated_date
        ) values
        <foreach collection="list" item="item" index="index" separator=",">
            (
                (select replace(uuid(), '-', '') as id),
                #{item.channelType,jdbcType=VARCHAR},#{item.productNameAs,jdbcType=VARCHAR},#{item.assigned,jdbcType=VARCHAR},
                #{item.lateStage,jdbcType=VARCHAR},#{item.committeeCaseDate,jdbcType=VARCHAR},#{item.cancelDate,jdbcType=VARCHAR},
                #{item.caseSerialNumber,jdbcType=VARCHAR},#{item.customerName,jdbcType=VARCHAR},#{item.userNo,jdbcType=VARCHAR},
                #{item.cardId,jdbcType=VARCHAR},#{item.loanBalance,jdbcType=VARCHAR},#{item.phoneNo,jdbcType=VARCHAR},
                #{item.appointCaseAmount,jdbcType=VARCHAR},#{item.productName,jdbcType=VARCHAR},#{item.reimbursementBank,jdbcType=VARCHAR},
                #{item.fixedQuota,jdbcType=VARCHAR},#{item.loanTimeLimit,jdbcType=VARCHAR},#{item.loanTime,jdbcType=VARCHAR},
                #{item.overdueDays,jdbcType=VARCHAR},#{item.companyName,jdbcType=VARCHAR},#{item.companyTel,jdbcType=VARCHAR},
                #{item.companyAddress,jdbcType=VARCHAR},#{item.residentialAddress,jdbcType=VARCHAR},#{item.relatives,jdbcType=VARCHAR},
                #{item.relativesTel,jdbcType=VARCHAR},#{item.overdueAmount,jdbcType=VARCHAR},#{item.currentlyOwedAmount,jdbcType=VARCHAR},
                #{item.currentlyDeductPrincipal,jdbcType=VARCHAR},#{item.contractNo,jdbcType=VARCHAR},#{item.addressIdCard,jdbcType=VARCHAR},
                #{item.dueDate,jdbcType=VARCHAR},#{item.overdueInterest,jdbcType=VARCHAR},#{item.payableServiceFee,jdbcType=VARCHAR},
                #{item.lateCharge,jdbcType=VARCHAR},#{item.monthlyPayments,jdbcType=VARCHAR},#{item.maximumOverdueDays,jdbcType=VARCHAR},
                #{item.latestPaymentDate,jdbcType=VARCHAR},#{item.contactPerson1Name,jdbcType=VARCHAR},#{item.contactPhone1,jdbcType=VARCHAR},
                #{item.contactPerson2Name,jdbcType=VARCHAR},#{item.contactPhone2,jdbcType=VARCHAR},#{item.contactPerson3Name,jdbcType=VARCHAR},
                #{item.contactPhone3,jdbcType=VARCHAR},#{item.contactPerson4Name,jdbcType=VARCHAR},#{item.contactPhone4,jdbcType=VARCHAR},
                #{item.contactPerson5Name,jdbcType=VARCHAR},#{item.contactPhone5,jdbcType=VARCHAR},#{item.contactPerson6Name,jdbcType=VARCHAR},
                #{item.contactPhone6,jdbcType=VARCHAR},#{item.contactPerson7Name,jdbcType=VARCHAR},#{item.contactPhone7,jdbcType=VARCHAR},
                #{item.contactPerson8Name,jdbcType=VARCHAR},#{item.contactPhone8,jdbcType=VARCHAR},#{item.contactPerson9Name,jdbcType=VARCHAR},
                #{item.contactPhone9,jdbcType=VARCHAR},
                'system',now(),'system',now()
            )
        </foreach>
    </insert>

    <insert id="savePingAnCase" parameterType="com.cy.asset.task.bean.PingAnCase">
        insert into cy_pingan_case (
             id_pingan_case, collection_phase, entrust_batch, provinces, regulation_code,
             long_committee_num, acode_date, hangA_days, outsourcing_start_date,
             deadline_outsourcing_projects, customer_number, case_serial_number,
             cardNum_1, cardNum_2, cardNum1_endFour, integration_X_day, integration_30_day,
             integration_60_day, integration_90_day, integration_120_day, integration_150_day,
             integration_180_day, integration_210_day, account_balance_principal,
             appoint_case_amount, instalment_unrecorded_amount, balance_rmb,
             minimum_rmb_payable, current_rmb_cd, balances_dollar, minimum_dollar_payable,
             current_dollar_cd, fixed_quota, statement_date, in_rush_date, open_account_date,
             stop_card_date, dollarLast_payment_date, dollarLast_payment_amount,
             dollar_payment_date_frequency, latest_payment_date, latest_payment_amount,
             rmb_payment_date_frequency, customer_name, customer_sex, card_id,
             phone_no, residential_tel, residential_address, customer_address_zip_code,
             company_tel, name_client, customer_unit_address, unit_zip_code, zip_code,
             duties, overdue_days, city, birth_date, billing_address_zip_code,
             billing_address, immediate_family_contact_name, cardholder_relationship,
             direct_line, directLine_phone, nonLineal_person_name, nonLineal_person_telephone,
             nonLineal_person_phone, cardholder1_customer_number, cardholder1_name,
             cardholder1_phone, cardholder1_company_tel, cardholder1_home_tel,
             cardholder2_customer_number, cardholder2_name, cardholder2_phone,
             cardholder2_company_tel, cardholder2_home_tel, cardholder3_customer_number,
             cardholder3_name, cardholder3_phone, cardholder3_company_tel, cardholder3_home_tel,
             cardholder4_customer_number, cardholder4_name, cardholder4_phone, cardholder4_company_tel,
             cardholder4_home_tel, cardholder5_customer_number, cardholder5_name,
             cardholder5_phone, cardholder5_company_tel, cardholder5_home_tel,
             cardholder6_customer_number, cardholder6_name, cardholder6_phone,
             cardholder6_company_tel, cardholder6_home_tel, cardholder7_customer_number,
             cardholder7_name, cardholder7_phone, cardholder7_company_tel, cardholder7_home_tel,
             cardholder8_customer_number, cardholder8_name, cardholder8_phone,
             cardholder8_company_tel, cardholder8_home_tel, special_case_type,
             special_case_remark, contact, household_address_zip_code, household_address,
             new_address, sensitive_customers, collection_phase_code, remark_1, remark_2,
             remark_3, remark_4, remark_5, remark_6, remark_7, remark_8, remark_9, remark_10,
             reimbursement_option_1, reduction_option_1, reimbursement_option_2, reduction_option_2,
             reimbursement_option_3, reduction_option_3, payment_start_date, whether_free_materials,
             commissioning_start_date, delegation_deadline, observation, debt_type, last24_months_overdue,
             available_quot_rmb, available_quot_dollar, extension_number_applications, special_area_determination,
             unrecorded_instalment, document_type, qq, provinces_1, city_1, county, currency,
             primary_secondary_card, deputy_card_people, collection_member_id, statement_address,
             statement_zip_code, file_no, account, limit_date, limit_periods, limit_days, ban_breaks,
             transfinite_logo, whether_installment, created_by, created_date, updated_by, updated_date
        ) values
        <foreach collection="list" item="item" index="index" separator=",">
            (
                (select replace(uuid(), '-', '') as id),#{item.collectionPhase,jdbcType=VARCHAR},
                #{item.entrustBatch,jdbcType=VARCHAR},#{item.provinces,jdbcType=VARCHAR},
                #{item.regulationCode,jdbcType=VARCHAR},#{item.longCommitteeNum,jdbcType=VARCHAR},#{item.acodeDate,jdbcType=VARCHAR},
                #{item.hangADays,jdbcType=VARCHAR},#{item.appointCaseDate,jdbcType=VARCHAR},
                #{item.expectBackCaseDate,jdbcType=DATE},#{item.partyNo,jdbcType=VARCHAR},
                #{item.caseSerialNumber,jdbcType=VARCHAR},#{item.cardNum1,jdbcType=VARCHAR},#{item.cardNum2,jdbcType=VARCHAR},
                #{item.cardNum1EndFour,jdbcType=VARCHAR},#{item.integrationXDay,jdbcType=DECIMAL},
                #{item.integration30Day,jdbcType=DECIMAL},#{item.integration60Day,jdbcType=DECIMAL},
                #{item.integration90Day,jdbcType=DECIMAL},#{item.integration120Day,jdbcType=DECIMAL},
                #{item.integration150Day,jdbcType=DECIMAL},#{item.integration180Day,jdbcType=DECIMAL},
                #{item.integration210Day,jdbcType=DECIMAL},#{item.accountBalancePrincipal,jdbcType=DECIMAL},
                #{item.appointCaseAmount,jdbcType=DECIMAL},#{item.instalmentUnrecordedAmount,jdbcType=DECIMAL},
                #{item.balanceRMB,jdbcType=DECIMAL},#{item.minimumRMBPayable,jdbcType=DECIMAL},
                #{item.currentRMBCD,jdbcType=BIGINT},#{item.balancesDollar,jdbcType=DECIMAL},
                #{item.minimumDollarPayable,jdbcType=DECIMAL},#{item.currentDollarCD,jdbcType=DECIMAL},
                #{item.fixedQuota,jdbcType=DECIMAL},#{item.statementDate,jdbcType=VARCHAR},
                #{item.inRushDate,jdbcType=DATE},#{item.openAccountDate,jdbcType=DATE},#{item.stopCardDate,jdbcType=DATE},
                #{item.dollarLastPaymentDate,jdbcType=DATE},#{item.dollarLastPaymentAmount ,jdbcType=DECIMAL},
                #{item.dollarPaymentDateFrequency,jdbcType=VARCHAR},#{item.latestPaymentDate,jdbcType=DATE},
                #{item.latestPaymentAmount,jdbcType=DECIMAL},#{item.rmbPaymentDateFrequency,jdbcType=VARCHAR},
                #{item.customerName,jdbcType=VARCHAR},#{item.customerSex,jdbcType=VARCHAR},#{item.cardId,jdbcType=VARCHAR},
                #{item.phoneNo,jdbcType=VARCHAR},#{item.residentialTel,jdbcType=VARCHAR},#{item.residentialAddress,jdbcType=VARCHAR},
                #{item.customerAddressZipCode,jdbcType=VARCHAR},#{item.companyTel,jdbcType=VARCHAR},#{item.nameClient,jdbcType=VARCHAR},
                #{item.companyAddress,jdbcType=VARCHAR},#{item.unitZipCode,jdbcType=VARCHAR},#{item.email,jdbcType=VARCHAR},
                #{item.duties,jdbcType=VARCHAR},#{item.overdueDays,jdbcType=VARCHAR},#{item.city,jdbcType=VARCHAR},
                #{item.birthDate,jdbcType=DATE},#{item.billingAddressZipCode,jdbcType=VARCHAR},#{item.billingAddress,jdbcType=VARCHAR},
                #{item.immediateFamilyContactName,jdbcType=VARCHAR},#{item.cardholderRelationship,jdbcType=VARCHAR},
                #{item.directLine,jdbcType=VARCHAR},#{item.directLinePhone,jdbcType=VARCHAR},#{item.nonLinealPersonName,jdbcType=VARCHAR},
                #{item.nonLinealPersonTelephone,jdbcType=VARCHAR},#{item.nonLinealPersonPhone,jdbcType=VARCHAR},
                #{item.cardholder1CustomerNumber,jdbcType=VARCHAR},#{item.cardholder1Name,jdbcType=VARCHAR},
                #{item.cardholder1Phone,jdbcType=VARCHAR},#{item.cardholder1CompanyTel,jdbcType=VARCHAR},
                #{item.cardholder1HomeTel,jdbcType=VARCHAR},#{item.cardholder2CustomerNumber,jdbcType=VARCHAR},
                #{item.cardholder2Name,jdbcType=VARCHAR},#{item.cardholder2Phone,jdbcType=VARCHAR},#{item.cardholder2CompanyTel,jdbcType=VARCHAR},
                #{item.cardholder2HomeTel,jdbcType=VARCHAR},#{item.cardholder3CustomerNumber,jdbcType=VARCHAR},
                #{item.cardholder3Name,jdbcType=VARCHAR},#{item.cardholder3Phone,jdbcType=VARCHAR},#{item.cardholder3CompanyTel,jdbcType=VARCHAR},
                #{item.cardholder3HomeTel,jdbcType=VARCHAR},#{item.cardholder4CustomerNumber,jdbcType=VARCHAR},
                #{item.cardholder4Name,jdbcType=VARCHAR},#{item.cardholder4Phone,jdbcType=VARCHAR},#{item.cardholder4CompanyTel,jdbcType=VARCHAR},
                #{item.cardholder4HomeTel,jdbcType=VARCHAR},#{item.cardholder5CustomerNumber,jdbcType=VARCHAR},
                #{item.cardholder5Name,jdbcType=VARCHAR},#{item.cardholder5Phone,jdbcType=VARCHAR},#{item.cardholder5CompanyTel,jdbcType=VARCHAR},
                #{item.cardholder5HomeTel,jdbcType=VARCHAR},#{item.cardholder6CustomerNumber,jdbcType=VARCHAR},#{item.cardholder6Name,jdbcType=VARCHAR},
                #{item.cardholder6Phone,jdbcType=VARCHAR},#{item.cardholder6CompanyTel,jdbcType=VARCHAR},#{item.cardholder6HomeTel,jdbcType=VARCHAR},
                #{item.cardholder7CustomerNumber,jdbcType=VARCHAR},#{item.cardholder7Name,jdbcType=VARCHAR},#{item.cardholder7Phone,jdbcType=VARCHAR},
                #{item.cardholder7CompanyTel,jdbcType=VARCHAR},#{item.cardholder7HomeTel,jdbcType=VARCHAR},#{item.cardholder8CustomerNumber,jdbcType=VARCHAR},
                #{item.cardholder8Name,jdbcType=VARCHAR},#{item.cardholder8Phone,jdbcType=VARCHAR},#{item.cardholder8CompanyTel,jdbcType=VARCHAR},
                #{item.cardholder8HomeTel,jdbcType=VARCHAR},#{item.specialCaseType,jdbcType=VARCHAR},#{item.specialCaseRemark,jdbcType=VARCHAR},
                #{item.contact,jdbcType=VARCHAR},#{item.householdAddressZipCode,jdbcType=VARCHAR},#{item.householdAddress,jdbcType=VARCHAR},
                #{item.newAddress,jdbcType=VARCHAR},#{item.sensitiveCustomers,jdbcType=VARCHAR},#{item.collectionPhaseCode,jdbcType=VARCHAR},
                #{item.remark1,jdbcType=VARCHAR},#{item.remark2,jdbcType=VARCHAR},#{item.remark3,jdbcType=VARCHAR},#{item.remark4,jdbcType=VARCHAR},
                #{item.remark5,jdbcType=VARCHAR},#{item.remark6,jdbcType=VARCHAR},#{item.remark7,jdbcType=VARCHAR},#{item.remark8,jdbcType=VARCHAR},
                #{item.remark9,jdbcType=VARCHAR},#{item.remark10,jdbcType=VARCHAR},#{item.reimbursementOption1,jdbcType=DECIMAL},
                #{item.reductionOption1,jdbcType=DECIMAL},#{item.reimbursementOption2,jdbcType=DECIMAL},#{item.reductionOption2,jdbcType=DECIMAL},
                #{item.reimbursementOption3,jdbcType=DECIMAL},#{item.reductionOption3,jdbcType=VARCHAR},#{item.paymentStartDate,jdbcType=VARCHAR},
                #{item.whetherFreeMaterials,jdbcType=VARCHAR},#{item.commissioningStartDate,jdbcType=DATE},#{item.delegationDeadline,jdbcType=DATE},
                #{item.observation,jdbcType=VARCHAR},#{item.debtType,jdbcType=VARCHAR},#{item.last24MonthsOverdue,jdbcType=VARCHAR},
                #{item.availableQuotRMB,jdbcType=DECIMAL},#{item.availableQuotDollar,jdbcType=DECIMAL},#{item.extensionNumberApplications,jdbcType=VARCHAR},
                #{item.specialAreaDetermination,jdbcType=VARCHAR},#{item.unrecordedInstalment,jdbcType=VARCHAR},#{item.documentType,jdbcType=VARCHAR},
                #{item.qq,jdbcType=VARCHAR},#{item.provinces1,jdbcType=VARCHAR},#{item.city1,jdbcType=VARCHAR},#{item.county,jdbcType=VARCHAR},
                #{item.currency,jdbcType=VARCHAR},#{item.primarySecondaryCard,jdbcType=VARCHAR},#{item.deputyCardPeople,jdbcType=VARCHAR},
                #{item.collectionMemberId,jdbcType=VARCHAR},#{item.statementAddress,jdbcType=VARCHAR},#{item.statementZipCode,jdbcType=VARCHAR},
                #{item.fileNo,jdbcType=VARCHAR},#{item.account,jdbcType=VARCHAR},#{item.limitDate,jdbcType=VARCHAR},#{item.limitPeriods,jdbcType=VARCHAR},
                #{item.limitDays,jdbcType=VARCHAR},#{item.banBreaks,jdbcType=VARCHAR},#{item.transfiniteLogo,jdbcType=VARCHAR},#{item.whetherInstallment,jdbcType=VARCHAR},
                'system',now(),'system',now()
            )
        </foreach>
    </insert>

</mapper>