<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cy.asset.customer.dao.CustomerDao" >

    <sql id="Base_Column_List">
        id_customer, customer_name, party_no, customer_sex, card_id,
        phone_no, provinces, city, regional, email, date_birth,
        customer_age, residential_address, residential_tel,
        company_address, company_tel,
        created_by, created_date, updated_by, updated_date
    </sql>

    <insert id="saveCustomer" parameterType="java.util.List">
        replace into cy_customer (
            <include refid="Base_Column_List"/>
        ) values
        <foreach collection="list" item="item" index="index" separator=","> (
            (select replace(uuid(), '-', '') as id),
            #{item.customerName,jdbcType=VARCHAR},#{item.partyNo,jdbcType=VARCHAR},
            #{item.customerSex,jdbcType=VARCHAR},#{item.cardId,jdbcType=VARCHAR},
            #{item.phoneNo,jdbcType=VARCHAR},#{item.provinces,jdbcType=VARCHAR},
            #{item.city,jdbcType=VARCHAR},#{item.regional,jdbcType=VARCHAR},
            #{item.email,jdbcType=VARCHAR},#{item.birthDate,jdbcType=DATE},
            #{item.customerAge,jdbcType=VARCHAR},#{item.residentialAddress,jdbcType=VARCHAR},
            #{item.residentialTel,jdbcType=VARCHAR},#{item.companyAddress,jdbcType=VARCHAR},
            #{item.companyTel,jdbcType=VARCHAR},
            'system',now(),'system',now()
        )
        </foreach>
    </insert>

</mapper>